In [13]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
# from shapely.geometry import Point, box, LineString
from shapely import intersection
from tqdm.notebook import tqdm
import glob
from functools import reduce


target_epsg = 6350  # https://epsg.org/crs_6350/NAD83-2011-Conus-Albers.html?sessionkey=nb47agmo4r

In [2]:
fn_aoi = '/Volumes/Extreme SSD/largest_plots/clean_data/aoi.parquet'
fn_water_linear_overlay = '/Volumes/Extreme SSD/largest_plots/clean_data/water_overlay.parquet'
dir_water_linear = '/Volumes/Extreme SSD/largest_plots/raw_data/linear_water/*.zip'

In [3]:
Aoi = gpd.read_parquet(fn_aoi).set_geometry('aoi').set_crs(epsg=target_epsg)

In [5]:
# pattern_water_linear = dir_water_linear + '/*.zip'
fn_list_water_linear = glob.glob(dir_water_linear)

In [8]:
fn_water_linear = fn_list_water_linear[0]
WaterLinear = gpd.read_file(fn_water_linear)

In [11]:
artpath_list = []
mtfcc_list = []

for fn_water_linear in tqdm(fn_list_water_linear):
    WaterLinear = gpd.read_file(fn_water_linear)#.to_crs(epsg=target_epsg)
    artpath_list.append(WaterLinear.ARTPATH.value_counts())
    mtfcc_list.append(WaterLinear.MTFCC.value_counts())

  0%|          | 0/3233 [00:00<?, ?it/s]

In [14]:
reduce(lambda x,y: x.add(y, fill_value=0), artpath_list).astype(int).to_frame().sort_values('count', ascending = False)

           count
ARTPATH
N        4860984
U         800666
C          22635

In [15]:
reduce(lambda x,y: x.add(y, fill_value=0), mtfcc_list).astype(int).to_frame().sort_values('count', ascending = False)

         count
MTFCC
H3010  5200646
H3020   325319
H1100   151441
H3013     6879

-H3010
-Natural flowing stream/river

-H3020
-Canal, Ditch, or Aqueduct 

-H1100
-Connector

-H3013
-Braided Stream