In [45]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
# from shapely.geometry import Point, box, LineString
from shapely import intersection
from tqdm.notebook import tqdm
import glob
from functools import reduce

target_epsg = 6350  # https://epsg.org/crs_6350/NAD83-2011-Conus-Albers.html?sessionkey=nb47agmo4r

In [2]:
fn_aoi = '/Volumes/Extreme SSD/largest_plots/clean_data/aoi.parquet'
fn_roads = '/Volumes/Extreme SSD/largest_plots/clean_data/roads.parquet'
dir_roads = '/Volumes/Extreme SSD/largest_plots/raw_data/roads'

In [5]:
Aoi = gpd.read_parquet(fn_aoi).set_geometry('aoi').set_crs(epsg=target_epsg)

In [8]:
pattern_roads = dir_roads + '/*.zip'
fn_list_roads = glob.glob(pattern_roads)

In [14]:
Roads = gpd.read_file(fn_list_roads[0]).to_crs(epsg=target_epsg)

In [32]:
Roads.columns
rttyp_list = []
mtfcc_list = []

for fn_roads in tqdm(fn_list_roads):
    Roads = gpd.read_file(fn_roads)#.to_crs(epsg=target_epsg)
    rttyp_list.append(Roads.RTTYP.value_counts())
    mtfcc_list.append(Roads.MTFCC.value_counts())

  0%|          | 0/3233 [00:00<?, ?it/s]

In [52]:
reduce(lambda x,y: x.add(y, fill_value=0), rttyp_list).astype(int).to_frame().sort_values('count', ascending = False)

         count
RTTYP
M      8902710
C       367785
S       179042
O       102449
U        36314
I         6462

In [53]:
reduce(lambda x,y: x.add(y, fill_value=0), mtfcc_list).astype(int).to_frame().sort_values('count', ascending = False)

          count
MTFCC
S1400  14706508
S1740   1759568
S1750    403654
S1500    331352
S1200    253295
S1630    199170
S1640    146155
S1730     73712
S1780     39531
S1100     17576
S1710     17273
S1820      4368
S1810       508
S1720       240
S1830        26